$width: 252 * 1px;
$cellWidth: $width/7;
$primary-color: scale-color(#455A64, $lightness: -20%);
$secondary-color: #00BCD4;

$calendar-color: scale-color($primary-color, $lightness: -20%);
$day-text-color: #FFF;
$selected-day-text-color: $secondary-color;
$selected-day-background-color: $secondary-color;
$calendar-header-color: transparent;
$calendar-header-text-color: #FFF;
$weekdays-color: rgba(255,255,255,0.4);
$selectedDateHeader-background-color: $primary-color;
$selectedWeekdayHeader-background-color: $secondary-color;

// :host {
//   user-select: none;
//   -webkit-user-select: none;
//   font-family: RobotoDraft;
//   font-size: 12px;
//   line-height: 24px;
// } 



// #selectedWeekdayHeader {
//   color: #FFF;
//   height: 36px;
//   background: $selectedWeekdayHeader-background-color;
//   overflow: hidden;
// }


// #selectedDateHeader {
//   background: $selectedDateHeader-background-color;
//   color: #FFF;
//   padding: 12px 0;

//   & > div {
//     width: 100%;
//     text-align: center;
//     position: relative;
//     overflow: hidden;
//   }

//   :host(.light-theme) & {
//     background: scale-color($selectedWeekdayHeader-background-color, $lightness: 8%);
//   }
// }

// #selectedMonth {
//   height: 30px;
//   .selectedMonth {
//     font-size: 22px;
//     font-weight: 400;
//     line-height: 30px;
//     letter-spacing: 0.05em;
//   }
// }

// #selectedDay {
//   height: 60px;
//   .selectedDay {
//     font-size: 60px;
//     line-height: 60px;
//   }
// }

// #selectedYear {
//   height: 30px;
//   .selectedYear {
//     font-size: 22px;
//     font-weight: 400;
//     line-height: 30px;
//     color: rgba(white, 0.5);
//   }
// }



// .selectedWeekday {
//   font-size: 14px;
//   line-height: 36px;
//   text-align: center;
//   margin: 0;
//   font-weight: 400;
// }


// .currentdate {
//   font-weight: 400;
//   letter-spacing: 0.05em;
//   -webkit-text-transform: uppercase;
//   text-transform: uppercase;
//   font-size: 12px;
//   text-align: center;
//   margin: 0;
//   padding: 6px;
//   color: #FFF;
//   background: $primary-color;
// }  

// #calendar {
//   background: $calendar-color;
//   color: #FFF;

//   :host(.light-theme) & {
//     background: #FFF;
//     color: #333;
//   }
// }










// .weekday-name {
//   font-weight: 500;
//   width: $cellWidth;
//   text-align: center;
//   color: $weekdays-color;
//   :host(.light-theme) & {
//     color: #CCC;
//   }
// }


// #views {
//   height: ($cellWidth * 6) + 48 + 36px;
//   width: $width + 24px;
//   overflow: hidden;
// }

// .weekday {
//   margin: 0 12px;
// }

 

.slideup, &::shadow .slideup {  
  transition: all .4s cubic-bezier(0.390, 0.575, 0.135, 0.995); 
  -webkit-transition: all .4s cubic-bezier(0.390, 0.575, 0.135, 0.995); 
  position: absolute;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 0;
  &.in {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    z-index: 1;
    opacity: 0.9;
  }
  &.out {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 0;
    opacity: 0;
  }  
}



.slideleft, &::shadow .slideleft {
  transition: all .3s cubic-bezier(0.390, 0.575, 0.135, 0.995); 
  -webkit-transition: all .3s cubic-bezier(0.390, 0.575, 0.135, 0.995); 
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);

  &.in {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  &.out {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

&::shadow .slideleft {
  -webkit-transition-duration: .4s;
  transition-duration: .4s;
}



// d-calendar-weeks::shadow {

//   #days {
//     position: relative;
//     overflow: hidden;
//     height: $cellWidth * 6;
//   }

//   .weeks {
//     padding: 0 12px;
//     box-sizing: border-box;
//   }

//   .day {
//     box-sizing: border-box;
//     cursor: pointer;
//     width: $cellWidth;
//     height: $cellWidth;
//     position: relative;
//     color: #FFF;

//     :host(.light-theme) & {
//       color: #000;

//       &.currentday {
//         color: $selected-day-text-color;
//       }
//     }

//   } 

//   .day:after {
//     content: '';
//     border-radius: 50%;
//     position: absolute;
//     top: 3px;
//     right: 3px;
//     bottom: 3px;
//     left: 3px;
//     background: $selected-day-background-color;
//     z-index: 0;
//     -webkit-transform: scale(0);
//     transform: scale(0);
//     opacity: 0;
//     transition: all .2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
//     -webkit-transition: all .2s cubic-bezier(0.175, 0.885, 0.320, 1.275);
//   }

//   .day[selected]:after {
//     -webkit-transform: scale(1);
//     transform: scale(1);
//     opacity: 1;
//   }

//   .day div {
//     z-index: 1;
//     transition: all .2s;
//     -webkit-transition: all .2s;
//   }

//   .day[selected] div {
//     color: #FFF; 
//     font-weight: 600;
//   }

//   .currentday {
//     color: $selected-day-text-color;
//   }

//   .offday:not([selected]) {
//     opacity: 0.1;
//   }
// }
